<!DOCTYPE html>
<html lang="en">
    {{ `<!--
                 Z
                z
               z
         /\_/\
     ("\( -_- )/")
       ((     ))
      (...)-(...)
    -->` | safeHTML }}

    <head>
        {{ partial "head.html" . }}

        {{ block "head-extra" . }}{{ end }}
    </head>
    <body>
        <main>
            {{ partial "header.html" . }}

            {{ block "main" . }}{{ end }}

            {{ partial "footer.html" . }}
        </main>

        {{ block "js-extra" . }}{{ end }}
    </body>
</html>
