{{ define "main" }}
  <div class="d-flex mb-2">
    {{ partial "breadcrumbs.html" . }}
    <div class="break"></div>
    {{ partial "search-form.html" . }}
  </div>

  <section class="article">
    <div class="article-header">
      <h2 class="article-title">{{ .Title }}</h2>
      <small class="date">{{ .Date.Format "Mon Jan 2, 2006" }}</small>
      <div class="tags mt-1">
        {{ range $.Params.tags }}
        <a href="{{site.BaseURL}}/tags/{{ . }}" class="tag">{{ . }}</a>
        {{ end }}
      </div>
    </div>
    <div class="content">{{ .Content }}</div>
  </section>

  <section class="comments">
    {{ partial "disqus.html" . }}
  </section>
  </main>
{{ end }}
{{ define "js-extra" }}
  {{ if (findRE "class=\"highlight\"" .Content 1) }}
    <script src="{{site.BaseURL}}/assets/js/clipboard-polyfill.promise.js"></script>
    <script defer src="{{site.BaseURL}}/assets/js/copy-code-button.js"></script>
  {{ end  }}
{{ end  }}
